### e:/K8s/ansible/ansible.cfg
[defaults]
inventory = inventory.ini
remote_user = ubuntu
private_key_file = ~/.ssh/k8s-kubeadm.pem
host_key_checking = False
pipelining = True
forks = 10
stdout_callback = yaml
timeout = 60
interpreter_python = auto_silent
